*,html {
    Margin:0;
    font-size: 62.5%;
    font-family: 'Mulish', sans-serif;
    text-decoration: none;
    --black:hsl(137, 18%, 8%);
    --light-green:hsl(153, 70%, 63%);
    --med-green: hsl(165, 66%, 25%);
    --dark-green:hsl(151, 42%, 14%);
    --white: hsl(153, 35%, 92%);
    -webkit-font-smoothing: antialiased;
}

body {
    background-image: url(../svg/fundo.svg);
    background-repeat: no-repeat;
}

/*CABECALHO DO CTHULHU*/
#header {
    width: 100%;
}

.caixa {
    height: 6.5rem;
    background-color: var(--black);
    display: grid;
    justify-content: center;
}

.prime {
    height: 6.5rem;
    margin-left: 11.2rem;
    margin-top: 0.7rem;
    position: absolute;
}
.prime .prime-icon{
    margin: 0;
    height: 80%;
}

.abismo {
    height: 6.5rem;
    width: auto;
    margin-top: 1rem;
}

.abismo .logo {
    height: 70%;
}

/*NAVEGACAO CENOBITA*/

main .menu {
    display: flex;
    margin: auto;
    width: 100%;
    position: relative;
    margin-top: 3rem;
    justify-content: center;
    align-items: center;
    
        
}

.agendinha,.sisteminha,.contatinho,.arquivinho,.abisminho {
    height: 5rem;
    }


